body {
	font-family: courier;	
}

.grid-container {
  	display: grid;
  	grid-template-columns: 0.8fr 1.2fr 1fr 1fr;
  	grid-template-rows: 0.4fr 2.4fr 0.2fr;
  	gap: 0px 0px;
	grid-template-areas:
		"side top top top"
		"side main main main"
		"side footer footer footer";

	padding: 0;
	margin: 0;
	height: 98vh;
	overflow:hidden;
}
.side { 
	grid-area: side; 

	box-sizing:border-box;
	padding:5px;
	border:#afafaf solid 1px;

	position:relative;
}
.top { 
	grid-area: top; 

	box-sizing:border-box;
	border:#afafaf solid 1px;
	text-align:center;
	background-image:radial-gradient(black, rgba(0,0,0,0));
	color:white;
}
.main { 
	grid-area: main;
	
	box-sizing:border-box;
	padding:5px;
	border:#afafaf solid 1px;

	font-size:14px;
	overflow:hidden;
	overflow-x:scroll;
}
.footer { grid-area: footer; }

.sitemap {
	line-height:0.0;
}

.centered {
	text-align:center;
}

#sticker {
	position:absolute;
	bottom:0;
	text-align:center;
}
